html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial';
}

a {
  color: inherit;
  text-decoration: none !important;
}

.content_layout{
  border-radius: 20px;
  background: #FFFFFF !important;
  color:#384955;
  padding: 50px;
  height: 90vh;
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 10vh;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #00ACEE;
  }
}

/*Sidebar*/
.sidebar {
  height: 100%;
  width: 10vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 60px 0 0 10px;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar li {
  padding: 17px 20px;
  text-decoration: none;
  margin-top: 25px;
  font-size: 0px;
  display: block;
  transition: 0.6s;
  font-weight: 500;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
  color: white;
}
.sidebar li:hover{
  background: white;
  color: #21B96B;
  border-radius: 100%;
}

.sidebar li.active{
  color: white;
  border-radius: 100%;
  background: #21B96B;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.icon-nav {
  display: inline;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  background: transparent;
  width: 30px;
  margin-left: 20vh;
}

/*Navbar*/
#Navigation {
  text-align: center;
  position: absolute;
  color: white;
  z-index: 4;
  margin-left: 25%;
}
#Navigation ul {
  list-style-type: none;
  position: fixed;
  margin: 0;
  padding: 0px;
  height: auto;
  width: 60vh;
  overflow: hidden;
  text-align: center;
}
#Navigation li {
  height: 50px;
  display: inline-block;
}
#Navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#Navigation li a:hover {
  background: rgba(224, 224, 224, 0.15);
  border-radius: 8px;
  text-decoration: none;
  color: whitesmoke;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.btn-tag{
  background: #0098d4;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 4px 8px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-tag.female{
  background: #DE5F85;
}
.btn-tag.male{
  background: #0098d4;
}
.btn-danger{
  background: #d6416e;
  border: none;
  font-size: 13px;
  border-radius: 6px;
  margin-right: 4px;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.btn-tag:hover{
  background: #3D81E7;
}
.date-text{
  font-style: italic;
  font-size: 12px !important;
}

.pets_list_section{
  position: absolute;
  left: 70px;
  top: 0px;
}


/*Pets box*/
.pets_list_section .pets_box{
  width: 100%;
  /* background: rgb(135, 139, 213); */
  height: 195px;
  border-radius: 10px;
  color:white;
  cursor: pointer;
  display: inline-block;
  background-color:rgb(135, 139, 213);
  background-size: cover;
  transition: 0.6s;
}
.pets_box_body{
  border-radius: 10px;
  margin-top: 85px;
  padding: 0px 15px;
  transition: 0.6s;
  width: 100%;
  height: 100% !important;
  overflow: hidden;
}
.pets_box_body h3{
  font-size: 26px;
  margin: 0px;
}
.pets_box_body h4{
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
}
.pets_box_body p{
  font-size: 13.5px;
  display: none;
  max-width: 330px;
}
.pets_box_body .pets_tag_holder{
  max-width: 330px;
}

/* width */
.pets_box_body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.pets_box_body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(205, 205, 205); 
  border-radius: 10px;
  background: white;
}
/* Handle */
.pets_box_body::-webkit-scrollbar-thumb {
  background: #318DE7; 
  border-radius: 10px;
}
/* Handle on hover */
.pets_box_body::-webkit-scrollbar-thumb:hover {
  background: #318DE7; 
}

/*Pets box hover*/
.pets_box:hover .pets_box_body{
  margin-top: 0px;
  height: 180px;
  overflow: auto !important;
  background-color:rgba(0, 0, 0, 0.6);
}
.pets_box:hover p{
  display:grid
}

/*Carousel*/
.carousel-control{
  width: 40px !important;
  height: 40px !important;
  color: #21B96B !important;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100%;
  border: none;
  background: white;
}

.carousel-control.next{
  position: absolute;
  right: -10px !important;
  top:14vh !important;
}
.carousel-control.prev{
  position: absolute;
  right: -10px !important;
  top:7vh !important;
}

.carousel-control:hover{
  background: #21B96B !important;
  color: white !important;
}

.carousel-indicators button{
  background: #318DE7 !important;
  padding: 0px;
  border-radius: 100%;
  width: 25px !important;
}